/* livvic-regular - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/livvic-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/livvic-v13-latin-regular.woff2") format("woff2"), url("../fonts/livvic-v13-latin-regular.woff") format("woff"), url("../fonts/livvic-v13-latin-regular.ttf") format("truetype"), url("../fonts/livvic-v13-latin-regular.svg#Livvic") format("svg"); /* Legacy iOS */
}
/* livvic-600 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v13-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/livvic-v13-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/livvic-v13-latin-600.woff2") format("woff2"), url("../fonts/livvic-v13-latin-600.woff") format("woff"), url("../fonts/livvic-v13-latin-600.ttf") format("truetype"), url("../fonts/livvic-v13-latin-600.svg#Livvic") format("svg"); /* Legacy iOS */
}
/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v13-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/livvic-v13-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/livvic-v13-latin-700.woff2") format("woff2"), url("../fonts/livvic-v13-latin-700.woff") format("woff"), url("../fonts/livvic-v13-latin-700.ttf") format("truetype"), url("../fonts/livvic-v13-latin-700.svg#Livvic") format("svg"); /* Legacy iOS */
}
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Livvic";
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer {
  width: 100%;
  background: #002529;
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  margin: 0;
  padding: 48px 0;
}

.box__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.box__item {
  display: flex;
  justify-content: space-between;
  width: 140px;
  align-items: center;
  margin: 0;
  padding-top: 25px;
}

.box__link {
  margin: 0;
  padding: 0;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.box__link:hover {
  background-color: #F67E7E transparent;
  color: #F67E7E;
}

.box__adress__list {
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin: 0 125px;
  padding: 0;
  width: 445px;
}

.tel_link {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.social__img {
  margin: 0;
  padding: 0;
  margin-right: 18px;
}

.box__infos {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  padding-top: 52px;
}

header {
  font-family: "Livvic";
  width: 100%;
  background: #014E56;
}

.header__inner {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.header__link {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.header__list {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.header__list .header__item {
  margin-left: 40px;
}
.header__list .header__item .header__item-link {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.header__list .header__item .header__item-link:hover {
  color: #F67E7E;
}

.header__namber {
  font-family: "Livvic";
  margin-left: auto;
  padding: 10px 33px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
}
.header__namber:hover {
  background-color: #FFFFFF;
  color: #002529;
}

.header__btn {
  display: none;
  width: 20px;
  height: 3px;
  padding: 0;
  border: none;
}
.header__btn::before, .header__btn::after, .header__btn-inner {
  border-radius: 50px;
  display: block;
  width: 103%;
  height: 3px;
  background: #FFFFFF;
  content: "";
  margin-bottom: 3px;
}

@media only screen and (max-width: 600px) {
  .header__list {
    display: none;
  }
  .header__namber {
    display: none;
  }
  .header__title {
    margin-bottom: 18px;
  }
  .header__btn {
    display: block;
    margin-left: auto;
  }
}
.hero {
  width: 100%;
  position: relative;
  background: #014E56;
}
.hero::before {
  position: absolute;
  display: block;
  width: 100px;
  height: 200px;
  top: 80px;
  content: "";
  background-image: url(../../images/hero__img-left.svg);
}

.hero__inner {
  position: relative;
  display: flex;
  padding-top: 70px;
  padding-bottom: 250px;
}
.hero__inner::after {
  position: absolute;
  display: inline-block;
  width: 358px;
  height: 100px;
  right: 0;
  bottom: 0;
  content: "";
  background-image: url(../../images/hero__img-right.svg);
}

.hero__title {
  font-family: "Livvic";
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #FFFFFF;
}
.hero__title .hero__title--active {
  color: #F67E7E;
}

.hero__description {
  position: relative;
  width: 445px;
  font-family: "Livvic";
  margin-left: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.hero__description::before {
  display: block;
  margin-bottom: 76px;
  content: "";
  width: 59px;
  height: 4px;
  background: #79C8C7;
}

@media only screen and (max-width: 1000px) {
  .hero__title {
    margin: 0 auto;
    margin-bottom: 24px;
    font-family: "Livvic";
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
  }
  .hero__description {
    font-family: "Livvic";
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
  }
  .hero::before {
    display: none;
  }
  .hero__inner {
    display: block;
  }
  .hero__description::before {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .hero__title {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .hero__description {
    font-family: "Livvic";
    margin: 0 auto;
    width: 327px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }
}
.services__line {
  margin: 0;
  padding: 0;
  font-family: "Livvic";
  width: 50px;
  height: 4px;
  background: #F67E7E;
  border: none;
}

.services__title {
  font-family: "Livvic";
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.line {
  padding: 140px 20px 140px;
}

.services__content {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  font-family: "Livvic";
  margin: 0;
  padding-top: 54px;
}

.services__list {
  margin: 0;
  padding: 0;
}

.services__item {
  display: flex;
  padding-bottom: 32px;
}

.services-info {
  margin: 0;
  padding: 0;
  padding-left: 23px;
}

.services-info__title {
  font-family: "Livvic";
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
  padding-bottom: 16px;
}

.services-info__desc {
  font-family: "Livvic";
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.about__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Livvic";
  width: 100%;
  max-width: 1110px;
  position: relative;
  padding-bottom: 151px;
}

.about__item::before {
  display: inline-block;
  content: "";
  width: 350px;
  height: 56px;
  background-image: url("/images/list_backround.svg");
  background-position: top 0 left 140px;
  background-size: 67px 56px;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0px;
  left: 40px;
  margin: 0%;
  padding: 0%;
  font-family: "Livvic";
}

.about__desc {
  margin: 0;
  padding: 0;
  width: 350px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.about__peaple {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  text-align: center;
  padding-top: 24px;
}

.about__job {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.about__img--about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px auto;
}

.services {
  margin: 0;
  padding: 0;
  position: relative;
  background: #012F34;
}
.services::after {
  margin: 0;
  padding: 0;
  position: absolute;
  content: "";
  width: 200px;
  height: 244px;
  bottom: 0;
  right: 286px;
  background-image: url("/images/before-img1.svg");
  background-repeat: no-repeat;
  background-size: 200px 244px;
}

.about {
  margin: 0;
  padding: 0;
  position: relative;
  background: #004047;
  width: 100%;
}
.about::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 100px;
  background-image: url("/images/about__before1.svg");
  background-repeat: no-repeat;
}
.about::after {
  display: inline-block;
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url("/images/about__after.svg");
  background-size: 200px 200px;
  right: 0%;
  bottom: 0%;
}

.about__title {
  margin: 0;
  padding: 140px 0 56px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.about_color {
  color: #79C8C7;
}

.about__list {
  display: flex;
  align-items: center;
  width: 1110px;
}

.contact {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #F67E7E;
  position: relative;
}
.contact::before {
  display: inline-block;
  margin: 0;
  padding: 0;
  content: "";
  position: absolute;
  width: 200px;
  height: 244px;
  background-image: url("/images/contact__img.svg");
  background-repeat: no-repeat;
  background-size: 200px 244px;
  top: 5px;
  left: 0%;
}

.contact__title {
  margin: 0;
  padding: 0;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
  padding: 76px 0 76px 0;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  align-items: center;
}

.contact__button {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
  border: 2px solid #012F34;
  border-radius: 24px;
  padding: 9px 32px;
  background-color: #F67E7E;
}
.contact__button:hover {
  background-color: #012F34;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */